:root {
  --background-color: white;
  --background-blue-color: #2c73c6;
  --text-color: black;
  --blue-text: #799bb2;
  --white-text: #f0f0f0;
  --text-light-color: #666;
  --border-color: #e1e1e1;
}
